{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Issue certificates" %} - {{ event }}{% endblock %}
{% block banner %}{% endblock %}
{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'events:event_list' %}">{% trans "Events" %}</a></li>
            <li class="breadcrumb-item truncate"><a href="{% url 'events:event_detail' event.id %}">{{ event }}</a></li>
            <li class="breadcrumb-item active">{% trans "Issue certificates" %}</li>
        </ol>
        <h1>{% trans "Issuing certificates for" %} {{ event }}</h1>
        <div class="w3-container flex-center">
            <p>{% blocktrans %}To register participants or organizers of an event promoted or supported by the Wikimedia Brasil, you need to upload a <code>.csv</code> file formatted as follows* and a <code>.png</code> background image for the certificates**.{% endblocktrans %}</p>
            <p><code style="font-size: medium">{% trans "name,username,pronoun,hours,role,with_hours***" %}</code></p>
            <p style="font-size: small">{% blocktrans %}* A .csv example file can be downloaded <a href="{{ csv_example }}" aria-label="Example of a CSV file" download>here</a>.{% endblocktrans %}</p>
            <p style="font-size: small">{% blocktrans %}** The background image is always different for each event, as it is composed by partners logos and event's own visual identities. Models for the construction of such images are available <a target="_blank" href="{{ background_link }}" aria-label="Link for the presentation of models of background images">here</a>.{% endblocktrans %}</p>
            <p style="font-size: small">{% blocktrans %}*** Optional{% endblocktrans %}</p>
        </div>
        <div class="w3-container flex-center">
            <form action="{% url "events:event_certificate" event.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <label for="certificate_event">{% trans "Choose the event you want to issue certificates" %}</label>
                <select class="readonly-field" id="certificate_event" name="certificate_event" readonly required>
                    <option value="{{ event.id }}" selected>{{ event }}</option>
                </select>
                <label for="certificate_csv">{% trans "Choose a .csv file" %}</label>
                <input type="file" class="filestyle" id="certificate_csv" name="certificate_csv" accept=".csv" data-text="{% trans 'Choose a file' %}" required>
                <label for="certificate_background">{% trans "Choose a .png file" %}</label>
                <input type="file" class="filestyle" id="certificate_background" name="certificate_background" accept="image/png" data-text="{% trans 'Choose a file' %}" required>
                <input type="submit" class="button custom-button" id="submit_files">
            </form>
        </div>
        <div class="w3-container flex-center">
            <p><b>{% trans "Description of the .csv columns" %}</b><br>
                <code>name</code>: {% trans "Real name of the individual" %}<br>
                <code>username</code>: {% trans "Wikimedia username of the individual (optional)" %}<br>
                <code>pronoun</code>: {% trans "Pronouns for individual" %} (<code>A/O</code>)<br>
                <code>hours</code>: {% trans "Hours worked at the event by the individual" %} (<code>HHhMM</code>)<br>
                <code>role</code>: {% trans "Role of the individual on the event" %} (<code>palestrante/ouvinte/mediador/mediadora etc</code>)<br>
                <code>with_hours</code> (Optional): {% trans "If the certificate should include hours" %} (<code>true/false</code>)
            </p>
        </div>
    </main>
{% endblock %}