{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Update certificate" %} - {{ form.instance }}{% endblock %}
{% block banner %}{% endblock %}
{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'events:event_list' %}">{% trans "Events" %}</a></li>
            <li class="breadcrumb-item truncate"><a href="{% url 'events:event_detail' event.id %}">{{ event }}</a></li>
            <li class="breadcrumb-item active">{% trans "Update certificate" %}</li>
        </ol>
        <h1>{{ certificate }}</h1>
        <div class="w3-container flex-center">
            <form action="{% url 'events:certificate_update' event_id=event.id certificate_id=certificate.id %}" method="post" id="certificate_update_form">
                {% csrf_token %}
                <label class="field_title" for="name">{% trans "Real name of the individual" %}</label>
                {{ form.name }}
                <label class="field_title" for="username_string">{% trans "Wikimedia username of the individual" %}</label>
                <input type="text" name="username_string" class="form-control form_value" placeholder="Enter the Wikimedia username of the individual" maxlength="150" id="username_string" value="{% if form.instance.username %}{{ form.instance.username }}{% endif %}">
                <label class="field_title" for="pronoun">{% trans "Pronouns for individual" %}</label>
                {{ form.pronoun }}
                <label class="field_title" for="hours">{% trans "Hours worked at the event by the individual" %}</label>
                {{ form.hours }}
                <label class="field_title" for="with_hours">
                    {{ form.with_hours }} {% trans "Does this certificate need to declare hours?" %}
                </label>
                <label class="field_title" for="role">{% trans "Role of the individual on the event" %}</label>
                {{ form.role }}
            </form>
        </div>
        <br>
        <div class="button-container flex-center">
            <input type="submit" class="button custom-button" value="{% trans 'Update participant' %}" form="certificate_update_form">
        </div>
    </main>
{% endblock %}