{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{% trans "Credentials" %}{% endblock %}

{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Credentials" %}</li>
        </ol>
        <h1 class="w3-row">{% trans "All credentials" %}</h1>
        <input type="text" id="search-input" onkeyup="searchFunction()" placeholder="{% trans 'Search for credentials..' %}" title="{% trans 'Type in a username' %}">
        <div class="button-container">
            <a href="{% url 'credentials:credential_create' %}"><button class="custom-button">{% trans "Issue a new credential" %}</button></a>
        </div>
        <div class="flex-container" id="credentials">
            {% for credential in credentials %}
                <div class="flex-item" data-name="{{ credential.username }}" style="justify-content: space-between; ">
                    <div style="display: flex; flex-direction: column; ">
                        <h2><a href="{% url 'credentials:credential_detail' credential.verification_code %}">{{ credential.username }} ({{ credential.masked_name }})</a></h2>
                        <span class="field_title">{% trans "Event" %}</span>
                        <span class="field_value">{{ credential.event }}</span>
                        <span class="field_title">{% trans "Valid until" %}</span>
                        <span class="field_value">{{ credential.valid_until }}</span>
                        <span class="field_title">{% trans "Issued at" %}</span>
                        <span class="field_value">{{ credential.issued_at }}</span>
                        <span class="field_title">{% trans "Issued by" %}</span>
                        <span class="field_value">{{ credential.issued_by }}</span>
                    </div>
                    <div class="flex-center">
                        <a href="{% url 'credentials:credential_update' verification_code=credential.verification_code %}">{% trans "Edit" %}</a>
                        <a href="{% url 'credentials:credential_delete' verification_code=credential.verification_code %}">{% trans "Delete" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
      function searchFunction() {
        let input = document.getElementById("search-input").value.toUpperCase();
        let credentials = document.getElementById("credentials");
        let credentialList = credentials.getElementsByClassName("flex-item");
        for (let i = 0; i < credentialList.length; i++) {
          let textValue = credentialList[i].getAttribute("data-name").toUpperCase()
          if (textValue.indexOf(input) > -1) {
            credentialList[i].style.display = "";
          } else {
            credentialList[i].style.display = "none";
          }
        }
      }
    </script>
{% endblock %}