{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Issue new credential" %}{% endblock %}

{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'credentials:credential_list' %}" aria-label="{% trans 'List of credentials' %}">{% trans "Credentials" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Issue a new credential" %}</li>
        </ol>
        <h1>{% trans "Issue a new credential" %}</h1>
        <div class="w3-container flex-center">{% trans "To issue a credential for a wikimedian to an event, fill out the form:" %}</div>
        <div class="w3-container flex-center">
            <form action="{% url 'credentials:credential_create' %}" method="post">
                {% csrf_token %}
                <label class="field_title" for="username">{% trans "Wikimedia username of the individual" %}*</label>
                {{ form.username }}
                <label class="field_title" for="full_name">{% trans "Real name of the individual" %}*</label>
                {{ form.full_name }}
                <label class="field_title" for="cpf">{% trans "CPF number of the individual" %}</label>
                {{ form.cpf }}
                <label class="field_title" for="cin">{% trans "National Identity Card number of the individual" %}</label>
                {{ form.cin }}
                <label class="field_title" for="photograph">{% trans "URL of the individual's image for the credentials" %}*</label>
                {{ form.photograph }}
                <label class="field_title" for="event">{% trans "Event name" %}*</label>
                {{ form.event }}
                <label class="field_title" for="valid_from">{% trans "Validity start date" %}*</label>
                {{ form.valid_from }}
                <label class="field_title" for="valid_until">{% trans "Validity end date" %}*</label>
                {{ form.valid_until }}
                <br>
                <div class="flex-center button-container">
                    <input type="submit" class="button custom-button" value="{% trans 'Issue new credential' %}">
                    <a href="{% url 'credentials:credential_list' %}" aria-label="{% trans 'List of credentials' %}">
                        <button class="custom-grey-button" type="button">{% trans "Cancel" %}</button>
                    </a>
            </form>
        </div>
    </main>
{% endblock %}