{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Verify credential" %}{% endblock %}
{% block banner %}{% endblock %}

{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'credentials:credential_list' %}" aria-label="{% trans 'List of credentials' %}">{% trans "Credentials" %}</a></li>
            <li class="breadcrumb-item active truncate">{% blocktrans with username=credential.masked_name event=credential.event %}{{ username }} credential for {{ event }}{% endblocktrans %}</li>
        </ol>
        <h1 class="w3-row">Credential Details</h1>
        <div class="w3-container flex-center">
            <div class="w3-containter" style="display:flex; flex-direction: row; gap:2em; justify-content: space-between;">
                <div class="w3-row" style="width: 100%;">
                    <p class="field_title">{% trans "Username" %}</p>
                    <p class="field_value">{{ credential.username }}</p>
                </div>
                <div class="w3-row" style="width: 100%;">
                    <p class="field_title">{% trans "Full name" %}</p>
                    <p class="field_value">{{ credential.masked_name }}</p>
                </div>
            </div>
            <div class="w3-containter" style="display:flex; flex-direction: row; gap:2em; justify-content: space-between;">
                <div class="w3-row" style="width: 100%;">
                    <p class="field_title">{% trans "CPF" %}</p>
                    <p class="field_value">{{ credential.masked_cpf }}</p>
                </div>
                <div class="w3-row" style="width: 100%;">
                    <p class="field_title">{% trans "CIN" %}</p>
                    <p class="field_value">{{ credential.masked_cin }}</p>
                </div>
            </div>
            <p class="field_title">{% trans "Event" %}</p>
            <p class="field_value">{{ credential.event }}</p>
            <p class="field_title">{% trans "Valid until" %}</p>
            <p class="field_value">{{ credential.valid_until }}</p>
            <p class="field_title">{% trans "Verification code" %}</p>
            <p class="field_value">{{ credential.verification_code }}</p>
        </div>
        {% if perms.credentials.change_credentials or perms.credentials.delete_credentials %}
            <div class="flex-center button-container" style="margin-top: 2em; ">
                {% if perms.credentials.change_credentials %}
                    <a href="{% url 'credentials:credential_update' credential.verification_code %}">
                        <button class="custom-button">{% trans "Edit" %}</button>
                    </a>
                {% endif %}
                {% if perms.credentials.delete_credentials %}
                    <a href="{% url 'credentials:credential_delete' credential.verification_code %}">
                        <button class="custom-red-button">{% trans "Delete" %}</button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}