{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block title %}{% trans "Delete credential" %}{% endblock %}

{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'credentials:credential_list' %}" aria-label="{% trans 'List of credentials' %}">{% trans "Credentials" %}</a></li>
            <li class="breadcrumb-item truncate"><a href="{% url 'credentials:credential_detail' verification_code=credential.verification_code %}">{% blocktrans with username=credential.masked_name event=credential.event %}{{ username }} credential for {{ event }}{% endblocktrans %}</a></li>
            <li class="breadcrumb-item active">{% trans "Delete" %}</li>
        </ol>
        <h1>{% trans "Are you sure you want to delete credential for:" %}</h1>
        <div class="w3-container flex-center">
            <div class="flex-container">
                <div class="flex-item" style="width:100%;">
                    <p class="field_title">{% trans "Username" %}</p>
                    <p class="field_value">{{ credential.username }}</p>
                    <p class="field_title">{% trans "Full name" %}</p>
                    <p class="field_value">{{ credential.masked_name }}</p>
                    <p class="field_title">{% trans "Event" %}</p>
                    <p class="field_value">{{ credential.event }}</p>
                </div>
            </div>
            <p style="font-size: larger; font-weight: bold; color: var(--color-6)">{% trans "This action cannot be undone!" %}</p>
            <form method="post">
                {% csrf_token %}
                <div class="flex-center button-container">
                    <button class="custom-red-button" type="submit">{% trans "Yes, delete" %}</button>
                    <a href="{% url 'credentials:credential_detail' credential.verification_code %}">
                        <button class="custom-grey-button" type="button">{% trans "Cancel" %}</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
