<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | WMB</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Josefin+Sans' type='text/css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" SameSite=None></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename= 'js/bootstrap-filestyle.min.js')}}"></script>#}

</head>
<body>
{% block navbar %}{% endblock %}
{% block content %}{% endblock %}
{% block script %}
    <script>
        function menuFunction() {
            var x = document.getElementById("topnavbar");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
{% endblock %}
</body>
</html>