{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Certificado{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container" style="text-align: left; padding:0">
            <div class="w3-row" style="margin-bottom: 15px">
                <div class="w3-container w3-quarter"></div>
                <div class="w3-container w3-half" style="padding-top:50px">
                    <p style="text-align: justify">Para cadastrar editores(as) ou palestrantes de um evento promovido
                        pelo Wiki Movimento Brasil,
                        você deve inserir um arquivo <code>.csv</code>, formatado como o modelo abaixo*, além da imagem
                        de fundo do certificado** em
                        <code>.png</code>.
                    </p>
                    <p style="text-align: center;">
                        <code style="font-size: medium">name,username,pronoun,event,date_start,date_end,hours,role</code>
                    </p>
                    <p style="font-size: small;text-align: justify">* Um arquivo csv de exemplo pode ser baixado
                        clicando-se <a href="{{ url_for('static', filename='csv_example.csv') }}" download>aqui</a>.</p>
                    <p style="font-size: small;text-align: justify">** A imagem de fundo é um elemento dinâmico, pois
                        envolve a composição de logotipos de
                        instituições parceiras. Modelos para a construção desta imagem estão disponíveis <a
                                target="_blank" href="{{ background_link }}">aqui</a>.
                    </p>
                    <form action="{{ url_for('certificate') }}" enctype="multipart/form-data" method="post">
                        <h3></h3>
                        <label style="margin-top: 15px" for="certificate_csv">Insira um arquivo csv</label><br>
                        <input type="file" class="filestyle" id="certificate_csv" name="certificate_csv" accept=".csv"
                               data-text="Escolha um arquivo">
                        <label style="width: 100%" for="background">Insira um arquivo para o plano de fundo</label><br>
                        <input type="file" class="filestyle" id="background" name="background" accept="image/png"
                               data-text="Escolha um arquivo">
                        <input type="submit" class="button" id="submit_files" name="submit_files"
                               style="width: 100%; margin:15px 0 0 0;padding:15px">
                    </form>
                    <a href="{{ url_for('manage_participants') }}">
                        <button style="width: 100%; margin:15px 0 0 0;padding:15px">Gerenciar participantes</button>
                    </a>
                </div>
                <div class="w3-container w3-quarter" style="padding-top:50px">
                    <p>
                        <b>Descrição dos campos do csv</b><br>
                        <code>name</code>: Nome do indivíduo<br>
                        <code>username</code>: Nome de usuário(a) Wiki do indivíduo (Opcional)<br>
                        <code>pronoun</code>: Pronome do indivíduo (<code>A/O</code>)<br>
                        <code>event</code>: Nome do evento<br>
                        <code>date_start</code>: Data do evento ou data de início do evento
                        (<code>dd/mm/aaaa</code>)<br>
                        <code>date_end</code>: Data final do evento (<code>dd/mm/aaaa</code>) (<small><b>Somente se
                        evento ocorrer em mais de um dia</b></small>)<br>
                        <code>hours</code>: Carga horária exercida pela pessoa no evento (<code>HHhMM</code>)<br>
                        <code>role</code>: Papel do indivíduo no evento (<code>palestrante/ouvinte/mediador/mediadora
                        etc</code>)
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
