{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Página inicial{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container" style="height:200px; padding: 50px 0 50px 0; position: relative">
            <img height="100%" src="{{ url_for('static', filename='WMB-logo.svg') }}">
        </div>
        {% if current_user.is_authenticated %}
            <div class="w3-row">
                <div class="w3-quarter">&nbsp;</div>
                <div class="w3-half">
                    <div class="w3-quarter">&nbsp;</div>
                    <div class="w3-half">
                        <a href="{{ url_for('certificate') }}">
                            <button type="button" style="width:100%;">
                                Certificados
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-quarter">&nbsp;</div>
                <div class="w3-half">
                    <div class="w3-quarter">&nbsp;</div>
                    <div class="w3-half">
                        <a href="{{ url_for('calendar') }}">
                            <button type="button" style="width:100%;">
                                Gerador de calendário
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-quarter">&nbsp;</div>
                <div class="w3-half">
                    <div class="w3-quarter">&nbsp;</div>
                    <div class="w3-half">
                        <a href="{{ url_for('create_wmbuser') }}">
                            <button type="button" style="width:100%;">
                                Criar usuários(as)
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="w3-row">
            <div class="w3-quarter">&nbsp;</div>
            <div class="w3-half">
                <div class="w3-quarter">&nbsp;</div>
                <div class="w3-half">
                    <a href="{{ url_for('validate_document') }}">
                        <button type="button" style="width:100%;">
                            Validação de documentos
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
