<nav class="topnav" id="topnavbar">
    <a tabindex="0" id="inicio" href="{{url_for('home')}}" class="active" style="color:var(--main-color)">Página inicial</a>
    {% if current_user.is_authenticated %}
        <a class="right" tabindex="0" id="logout" href="{{ url_for('logout') }}">Sair</a>
        <a class="right" tabindex="0" id="change_password" href="{{ url_for('mudar_senha_wmbuser') }}">Alterar senha</a>
    {% else %}
        <a class="right" tabindex="0" id="login" href="{{ url_for('login') }}">Autenticar-se</a>
    {% endif %}
    <a tabindex="0" id="menu" href="javascript:void(0);" class="icon" onclick="menuFunction()" aria-label='Menu'><i class="fa fa-bars"></i></a>
</nav>