{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{% trans "Month calendars" %}{% endblock %}

{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Month calendars" %}</li>
        </ol>
        <h1 class="w3-row">{% trans "Month calendars" %}</h1>
        <input type="text" id="search-input" onkeyup="searchFunction()" placeholder="{% trans 'Search for months..' %}" title="{% trans 'Type in the month name' %}">
        <div class="flex-container" id="month_certificates">
            {% for month_calendar in month_calendars %}
                <div class="flex-item" data-name="{{ month_calendar }}" style="justify-content: space-between; ">
                    <div style="display: flex; flex-direction: column; ">
                        <h2>{{ month_calendar }}</h2>
                    </div>
                    <a href="{% url 'calendars:month_calendar_detail' pk=month_calendar.id %}">{% trans "Detail" %}</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
      function searchFunction() {
        let input = document.getElementById("search-input").value.toUpperCase();
        let list_div = document.getElementById("month_certificates");
        let element_list = list_div.getElementsByClassName("flex-item");
        for (let i = 0; i < element_list.length; i++) {
          let textValue = element_list[i].getAttribute("data-name").toUpperCase()
          if (textValue.indexOf(input) > -1) {
            element_list[i].style.display = "";
          } else {
            element_list[i].style.display = "none";
          }
        }
      }
    </script>
{% endblock %}