{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Delete certificate" %}{% endblock %}
{% block banner %}{% endblock %}
{% block main_content %}
    <main class="table-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:index' %}" aria-label="{% trans 'Homepage' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'calendars:month_calendar_list' %}">{% trans "Month calendars" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'calendars:month_calendar_detail' pk=month_calendar.id %}">{{ month_calendar }}</a></li>
            <li class="breadcrumb-item active">{% trans "Delete month calendar" %}</li>
        </ol>
        <div class="w3-container flex-center">
            <h1>{% trans "Are you sure you want to delete this month calendar?" %}</h1>
        </div>
        <form id="delete_month_calendar_form" class="flex-center button-container" action="{% url 'calendars:month_calendar_delete' pk=month_calendar.id %}" method="post">{% csrf_token %}</form>
        <div class="flex-center button-container">
            <input type="submit" class="button custom-red-button" value="{% trans 'YES' %}" form="delete_month_calendar_form">
            <a href="{% url 'calendars:month_calendar_detail' pk=month_calendar.id %}"><button class="button custom-grey-button">{% trans "NO" %}</button></a>
        </div>
    </main>
{% endblock %}